<!-- <div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List Mahasiswa          
        </div>
        <div class="card-block">
           <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama </th>
                <th>Nim</th>
                <th>Departemen</th>                                                            
              </tr>
            </thead>
            <tbody>
              <tr *ngFor = "let mahasiswa of list_mahasiswa; let i = index" [routerLink]="['detailipe', mahasiswa.id, mahasiswa.nama_mahasiswa, mahasiswa.nim_mahasiswa]">
                <td>{{i+1}}</td>
                <td>{{mahasiswa.nama_mahasiswa}}</td>
                <td>{{mahasiswa.nim_mahasiswa}}</td>
                <td>{{mahasiswa.departemen.nama_departemen}}</td>                                                                
              </tr>
            </tbody>
          </table> 
        </div>
      </div>
    </div>
  </div>

</div> -->


<div class="card">
  <div class="card-header">
    <strong>Cari Mahasiswa</strong>
  </div>
  <form #form = 'ngForm' class="form-horizontal">
    <div class="card-block">

      <div class="form-group row">
        <label class="col-md-3 form-control-label" for="hf-email">NIM</label>
        <div class="col-md-9">
          <input type="text" id="nim" name="nim" [(ngModel)]="nim" class="form-control" placeholder="Masukan NIM">
        </div>
      </div>

    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-sm btn-primary" (click)="submit()" [disabled]="!nim"><i class="fa fa-dot-circle-o"></i> Cari</button>
      <button type="reset" class="btn btn-sm btn-danger" (click)="form.reset()"><i class="fa fa-ban"></i> Reset</button>
    </div>
  </form>
</div>    