<header class="app-header navbar">
  <button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>
  <a class="navbar-brand" href="javascript:void(0)"></a>
  <ul class="nav navbar-nav d-md-down-none">
    <li class="nav-item">
      <a class="nav-link navbar-toggler" href="#" appSidebarToggler>&#9776;</a>
    </li>
    <li class="nav-item px-3">
      <a class="nav-link">SIM-SKPI</a>
    </li>
  </ul>
  <ul class="nav navbar-nav ml-auto">
    <!-- <li class="nav-item px-3 ">
        <div class="visible-sm-12">
            <a *ngIf="role == 'mahasiswa' " class="nav-link"> {{nama_mahasiswa}}</a>
            <a *ngIf="role != 'mahasiswa' " class="nav-link"> {{nama_user}}</a>            
        </div>
    </li>   -->
  </ul>
</header>

<div class="app-body">
  <div class="sidebar">
    <nav class="sidebar-nav" >
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['dashboard']"><i class="icon-speedometer"></i> Dashboard </a>
        </li>
        <li class="divider"></li>
        <li *ngIf="role != 'admin'" class="nav-title">
          SKPI
        </li>        
        <li *ngIf="role == 'admin'" class="nav-title">
          TABLE
        </li>                
        <li *ngIf="role == 'mahasiswa' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['ekskul','all']"><i class="icon-puzzle"></i> Ekstrakurikuler </a>
        </li>
        <li *ngIf="role == 'departemen' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['verifikasiprestasi']"><i class="icon-puzzle"></i> Verifikasi Prestasi</a>
        </li>   
        <li *ngIf="role == 'departemen' && id == 9  " class="nav-item"> <!-- berarti role fakultas -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['ipemahasiswa']"><i class="icon-puzzle"></i> IPE Mahasiwa</a>
        </li>
        <li *ngIf="role == 'admin' " class="nav-item"> <!-- berarti role admin -->
          <a class="nav-link" routerLinkActive="active" [routerLink]="['user']"><i class="icon-puzzle"></i> Users</a>
        </li>   
        <li *ngIf="role == 'admin' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['jeniskegiatan']"><i class="icon-puzzle"></i> Jenis Kegiatan</a>
        </li>      
        <li *ngIf="role == 'admin' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['skor']"><i class="icon-puzzle"></i> Skor</a>
        </li>           
        <li *ngIf="role == 'admin' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['mutu']"><i class="icon-puzzle"></i> Mutu</a>
        </li>                            
        <li class="nav-title">
          <span *ngIf="role != 'mahasiswa' ">{{nama_user}}</span> <span *ngIf="role == 'mahasiswa' ">{{nama_mahasiswa}}</span> <br/> <span *ngIf="role == 'mahasiswa' " >({{nim}})</span> 
        </li>
        <li *ngIf="role == 'mahasiswa' " class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLink]="['profil']"><i class="fa fa-user"></i>Profil</a>
        </li>
        <li *ngIf="role == 'mahasiswa' " class="nav-item"> <!--logout sso -->
          <a class="nav-link" href="javascript:void(0)" (click)="logoutSso()"><i class="icon-logout"></i>Log Out</a>
        </li>                    
        <li *ngIf="role != 'mahasiswa' " class="nav-item">
          <a class="nav-link" href="javascript:void(0)" (click)="logout()"><i class="icon-logout"></i>Log Out</a>
        </li>

      </ul>
    </nav>
  </div>

  <!-- Main content -->
  <main class="main">
    <div class="jumbotron img-responsive">
      <div *ngFor="let data of title">
        <div *ngIf="data.title.title !== 'departemen'">
          <h3>{{data.title.title}}</h3>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
</div>

<footer class="app-footer">
  &copy; SIM SKPI FMIPA IPB 2017
  <span class="float-right">Powered by <a href="http://coreui.io">CoreUI</a></span>
</footer>

