<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
            <i class="fa fa-align-justify"></i> List Prestasi <strong>{{nama_mahasiswa}} ({{nim}})</strong> 
            <button type="button" class="btn btn-success btn-sm pull-right" (click)="downloadIpe()" [disabled]="download || jumlah_skor<minimum_skor"><i *ngIf="download" class="fa fa-spinner fa-spin"></i> Download IPE</button>
        </div>
        <div class="card-block">
           <table datatable [dtOptions]="dtOptions"  style="width: 100%;overflow: auto;" [dtTrigger]="dtTrigger" class="row-border hover">
            <thead>
              <tr>
                <th>No</th>
                <th>Nama </th>
                <th>jenis</th>
                <th>Tingkat</th>
                <th>Kota</th>
                <th>Negara</th>
                <th>Bukti</th>                                                                                 
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let ekskul of list_ekskul; let i = index">

                <td>{{i+1}}</td>
                <td>{{ekskul.nama_ekstrakurikuler}}</td>
                <td>{{ekskul.skor.sub_kategori.nama_sub_kategori}}</td>
                <td>{{ekskul.skor.tingkat.nama_tingkat}}</td>
                <td>{{ekskul.kota}}</td>
                <td>{{ekskul.negara}}</td>
                <!-- <td><a href="assets/../../../api/public/images/{{ekskul.bukti_ekstrakurikuler}}" target="_blank">lihat</a></td>     -->
                <td><a href="assets/bg-publik2.jpg" target="_blank">lihat</a></td>    
              </tr>
            </tbody>
          </table> 
          <div>
            <strong>Jumlah skor: {{jumlah_skor}}<br/>Kategori: {{kategori}}</strong>
            
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->

  
</div>