<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-block pb-0">
          <h4>Total Pengajuan {{login}}: {{request}}</h4>
        </div>
        <div class="chart-wrapper px-3">
          <canvas baseChart class="chart"
          [datasets]="barChartData"
          [labels]="barChartLabels"
          [options]="barChartOptions"
          [colors]="barChartColours"
          [legend]="barChartLegend"
          [chartType]="barChartType"
          (chartHover)="chartHovered($event)"
          (chartClick)="chartClicked($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-sm-12 col-md-8 col-lg-6">
      <div class="card">
        <div class="card-block pb-0">
          <h4>Total Skor {{login}}: {{skor}}</h4> 
        </div>
        <div class="chart-wrapper px-3">
          <canvas baseChart class="chart"
          [datasets]="barChartData1"
          [labels]="barChartLabels1"
          [options]="barChartOptions1"
          [colors]="barChartColours1"
          [legend]="barChartLegend1"
          [chartType]="barChartType1"
          (chartHover)="chartHovered1($event)"
          (chartClick)="chartClicked1($event)"></canvas>
        </div>
      </div>
    </div><!--/.col-->
  </div><!--/.row-->
</div>
